In [12]:
import pandas as pd

In [13]:
data = pd.read_csv("../Dataset/UpdatedResumeDataSet.csv")

In [17]:
!pip install pymupdf

Requirement already satisfied: pymupdf in d:\ml projects\ai-powered-resume-screening-system\env\lib\site-packages (1.25.3)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
# Extract Text from PDF/DOCX Resumes

import fitz  # PyMuPDF

def extract_text_from_pdf(pdf_path):
    text = ""
    doc = fitz.open(pdf_path)
    for page in doc:
        text += page.get_text() + "\n"
    return text

# Example usage
resume_text = extract_text_from_pdf("../PDF/Avishka_Piyumal.pdf")
print(resume_text[:500])  # Print first 500 characters

Avishka Piyumal
Data Science Intern

Email: avishkapiyumal16@gmail.com
LinkedIn: www.linkedin.com/in/avishka-piyumal-56aa52288
Contact: +94 764 117 235
GitHub: https://github.com/CodeMaestro016

PROFILE
I am a Data Science undergraduate with a strong foundation in programming, data analysis, and problem-
solving. My current focus is on machine learning and artificial intelligence, where I am exploring innovative
approaches to data-driven challenges. I am eager to collaborate on project

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

In [20]:
data.head(5)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [21]:
data.shape

(962, 2)

In [22]:
data.isnull()

     Category  Resume
0       False   False
1       False   False
2       False   False
3       False   False
4       False   False
..        ...     ...
957     False   False
958     False   False
959     False   False
960     False   False
961     False   False

[962 rows x 2 columns]

In [24]:
data.isnull().sum()

Category    0
Resume      0
dtype: int64

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB